
	body{
		background-color:#00868B;
		font-family:ar destine;
		margin:0;

	}
	header{
		background:#CD3700;
		padding: 0px 100px 0 15px;
	}
	header h1.lol{
		color:#FFF5EE; 
		margin: 0;
		display:inline;
		padding-top: 15px;

	}
	nav ul{
		margin: 0;
		display: inline-block;
		padding: 0 0 0 15px;
	}
	nav ul li{
		list-style-type: none;
		display: inline-block;
		padding: 5px 15px;
		margin: 0;

	}
	nav ul li a{
		color:#FFC125;
	}
	nav ul li a:hover{
		color:#00868B;

	}
	nav ul .s{
		list-style-type: none;
		padding: 5px 15px;
		margin: 0;


	}

	h2{
		display: inline;
		color: black;
		margin:0 0 0 1080px;
	}
	.row {
		clear:both;
		
	}
	.col a{
		background: #333;
		color:white;
		margin:1px;
		padding:10px .5%;
		border-radius: 5px;
		float: left;
		width: 32.17%;
		text-align: center;
		
	}
	.col a:hover{
		color:#00868B;
		background: black;

	}
	footer{

		clear: both;
	}
	.log img{
		display: inline;
		margin-left: 1093px;
		width: 60px;
		height: 60px;
		
		position: absolute;
		padding-left: 110px ;
		padding-bottom: 200px;
		
	}
	button{
		font-family: ar destine;
		margin: 0;
		color:#FFC125;
		background:#CD3700 ;
		margin-left: 90%;
		border-radius: 50px;
		border-style: ridge;
		overflow: inherit;
	}
	div.about p{
		display: block;
		margin-top: 50px;
		color: #FF8C00;
	}
